<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Mr. Cat</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://mrcatstore.vteximg.com.br/arquivos/ids/213122-500-500/TENIS-BYRON-BAY-CAMURCA-AMARELOAM2.jpg?v=636886904824100000">
        </div>
        <ion-card-header>
          <ion-card-title>Tênis Mr.Cat</ion-card-title>
          <ion-card-subtitle>TÊNIS BYRON BAY CAMURÇA AMARELO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$299,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://mrcatstore.vteximg.com.br/arquivos/ids/203974-500-500/CAMISA-MALHA-SURFVR2.jpg?v=636701296777730000">
        </div>
        <ion-card-header>
          <ion-card-title>Camisa Mr.Cat</ion-card-title>
          <ion-card-subtitle>CAMISA WBTS MALHA SURF VERMELHO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$89,90
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://mrcatstore.vteximg.com.br/arquivos/ids/187927-500-500/HMO002_CF_LADO.jpg?v=636177591670370000">
        </div>
        <ion-card-header>
          <ion-card-title>Mochila Mr.Cat</ion-card-title>
          <ion-card-subtitle>MOCHILA BUFALO CAFÉ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$979,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw48743ab3/HH0398_A53_24.jpg?imwidth=806&impolicy=product">
        </div>
        <ion-card-header>
          <ion-card-title>Carteira Mt.Cat</ion-card-title>
          <ion-card-subtitle>CARTEIRA ABA PRETA BÁSICA</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$109,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

