<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Nike</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://assets.nike.com.br/ArquivoExibir/1700802.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Tênis Nike</ion-card-title>
          <ion-card-subtitle>TÊNIS NIKE AIR MAX 270 EDIÇÃO ESPECIAL MASCULINO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$499,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.nike.com.br/ArquivoExibir/1649917.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Nike</ion-card-title>
          <ion-card-subtitle>CAMISETA NIKE SPORTSWEAR AIR MAX 1 MASCULINA</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$119,90
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.nike.com.br/ArquivoExibir/1660106.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Calça Nike</ion-card-title>
          <ion-card-subtitle>CALÇA NIKE CORINTHIANS ACADEMY MASCULINA</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$159,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.nike.com.br/ArquivoExibir/1659533.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Jaqueta Nike</ion-card-title>
          <ion-card-subtitle>JAQUETA NIKE INTERNACIONAL SQUAD MASCULINA</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$599,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

