<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Adidas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/a7011d90382f4af6a3b8aa1e017012d8_9366/Camiseta_Tsubasa_Japao_Branco_FJ6227_21_model.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Adidas</ion-card-title>
          <ion-card-subtitle>CAMISETA TSUBASA JAPAO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$199,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/b6fd130b34704711b3a7a921015817b8_9366/Blusa_Capuz_Trefoil_Azul_DV1504_21_model.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Casaco Adidas</ion-card-title>
          <ion-card-subtitle>CASACO CAPUZ TREFOIL</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$179,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/2edee5019c774f638b3aa9f8012105f4_9366/Tenis_Nite_Jogger_Preto_BD7954_01_standard.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Tênis Adidas</ion-card-title>
          <ion-card-subtitle>TÊNIS NITE JOGGER</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$549,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/bfeacc9f45c34cadbb93a9590090a667_9366/Calca_ID_WND_Preto_DZ0399_21_model.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Calça Adidas</ion-card-title>
          <ion-card-subtitle>CALÇA ID WND</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$179,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

