<ion-header>
  <ion-toolbar>
    <ion-title>Finalizar Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input #email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">RG</ion-label>
        <ion-input #senha></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input #senha></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input #senha></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calcule aqui o seu frete!</ion-card-title>
      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input #senha></ion-input>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="tertiary" (click)="cadastrar()">Calcular</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label position="floating">Valor total da compra:3000</ion-label>
        <ion-input #email></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número do pedido: 84</ion-label>
        <ion-input #senha></ion-input>
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      Entrega estimada para até 3 dias úteis!!
    </ion-card-content>
    <ion-button expand="full" color="tertiary" (click)="cadastrar()">Finalizar compra</ion-button>

  </ion-card>

</ion-content>