<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Tommy Hilfiger</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card>

      <div class="card" style="width: 18rem">
          <img src="https://tommyhilfiger.vteximg.com.br/arquivos/ids/172593-700-700/THMW0MW09824403_1.jpg?v=636924905731600000" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Camiseta Tommy Hilfiger</h5>
            <p class="card-text">Camiseta manda curta.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">R$169,00</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Comprar</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>


