<ion-header>
    <ion-toolbar>
      <ion-title>Lançamentos Tommy Hilfiger</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-card>
          <div>
            <img width="100%" src="https://tommyhilfiger.vteximg.com.br/arquivos/ids/172593-700-700/THMW0MW09824403_1.jpg?v=636924905731600000">
          </div>
          <ion-card-header>
            <ion-card-title>Camiseta Tommy Hilfiger</ion-card-title>
            <ion-card-subtitle>Camiseta manda curta</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            R$169,00
          </ion-card-content>
          <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
        </ion-card>
        <ion-note>
          Publicado 31/05/2019
        </ion-note>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-card>
          <div>
            <img  width="100%" src="https://dafitistatic-a.akamaihd.net/p/Tommy-Hilfiger-Bon%C3%A9-Tommy-Hilfiger-Logo-Azul-marinho-5967-4284844-1-zoom.jpg">
          </div>
          <ion-card-header>
            <ion-card-title>Boné Tommy Hilfiger</ion-card-title>
            <ion-card-subtitle>Boné Tommy Hilfiger Logo Azul-marinho</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            R$139,00
          </ion-card-content>
          <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
        </ion-card>
        <ion-note>
          Publicado 31/05/2019
        </ion-note>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-card>
          <div>
            <img  width="100%" src="https://t-static.dafiti.com.br/5bX3SKo0s8gah0gVWfxniIw1I7c=/fit-in/430x623/dafitistatic-a.akamaihd.net%2fp%2ftommy-hilfiger-moletom-flanelado-aberto-tommy-hilfiger-logo-hoody-vermelho-9482-4877364-1-zoom.jpg">
          </div>
          <ion-card-header>
            <ion-card-title>Casaco Tommy Hilfiger</ion-card-title>
            <ion-card-subtitle>Casaco moletom Flanelado aberto</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            R$429,99
          </ion-card-content>
          <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
        </ion-card>
        <ion-note>
          Publicado 31/05/2019
        </ion-note>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-card>
          <div>
            <img  width="100%" src="https://dafitistatic-a.akamaihd.net/p/Tommy-Hilfiger-T%C3%AAnis-Tommy-Hilfiger-Fosco-Preto-7049-7906724-1-zoom.jpg">
          </div>
          <ion-card-header>
            <ion-card-title>Tênis Tommy Hilfiger</ion-card-title>
            <ion-card-subtitle>Tênis Tommy Hilfiger preto fosco</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            R$289,99
          </ion-card-content>
          <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
        </ion-card>
        <ion-note>
          Publicado 31/05/2019
        </ion-note>
      </ion-col>
    </ion-row>
  
  
  </ion-content>

