<ion-header>
  <ion-toolbar>
    <ion-title>MarcaView</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card>

    <ion-item>
     <div>
        <img src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dwecd9874d/TH4208_031_24.jpg?imwidth=806&impolicy=product" style="width: 200px;">
      </div>
      <h2>Camisa Lacoste Básica</h2>
      <p>R$200,00</p>
    </ion-item>
  
  
    <ion-card-content>
      <p>A tradição da Lacoste no esporte está presente nesta camiseta técnica masculina. Estilo de alta performance.

        Mangas curtas
        Poliéster (100%)</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Comprar</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>


