<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Forever</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://www.forever21.com/images/4_full_750/00348161-03.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Vestido básico Forever 21</ion-card-title>
          <ion-card-subtitle>BODYCON MINI DRESS</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$68,56
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://www.forever21.com/images/1_front_750/00324323-02.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Jaqueta Forever 21</ion-card-title>
          <ion-card-subtitle>SEMI-TRANSPARENT CROPPED JACKET</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$152,82
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://www.forever21.com/images/1_front_750/00263249-04.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Conjunto íntimo Forever 21</ion-card-title>
          <ion-card-subtitle>MICROFIBER LACE THONG PANTY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$70,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://www.forever21.com/images/1_front_750/00318887-02.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Body Forever 21</ion-card-title>
          <ion-card-subtitle>HIGH-LEG ONE-PIECE SWIMSUIT</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$49,75
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

