<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Oakley</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://i2-oakley.a8e.net.br/gg/camisa-polo-elevated-basic-2-0-oakley_167132416_190645323166.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Polo Oakley</ion-card-title>
          <ion-card-subtitle>CAMISA POLO ELEVATED BASIC 2.0 OAKLEY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$143,65
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://i5-oakley.a8e.net.br/gm/tenis-modoc-low-3-0-oakley_169241061_190645571079.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Tênis Oakley</ion-card-title>
          <ion-card-subtitle>TÊNIS MODOC LOW 3.0 OAKLEY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$499,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://i1-oakley.a8e.net.br/gp/camiseta-distorced-lines-oakley_169234446_190645576173.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Oakley</ion-card-title>
          <ion-card-subtitle>CAMISETA DISTORCED LINES OAKLEY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$219,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://i5-oakley.a8e.net.br/gm/kitchen-sink_30629607_887288724329.jpg">
        </div>
        <ion-card-header>
          <ion-card-title>Mochila Oakley</ion-card-title>
          <ion-card-subtitle>MOCHILA KITCHEN SINK 34L OAKLEY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$1499,90
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

