<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Tommy Hilfiger</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw83e69406/YH9460_C0K_24.jpg?imwidth=806&impolicy=product">
        </div>
        <ion-card-header>
          <ion-card-title>Polo Lacoste</ion-card-title>
          <ion-card-subtitle>Polo masculina SPORT super leve</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$239,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw5cc689f1/36CAM0048_RS7_01.jpg?imwidth=806&impolicy=product">
        </div>
        <ion-card-header>
          <ion-card-title>Tênis Lacoste</ion-card-title>
          <ion-card-subtitle>Tênis masculino Lerond em couro e camurça</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$250,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dwa3953023/TH6709_S2P_24.jpg?imwidth=806&impolicy=product">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Lacoste</ion-card-title>
          <ion-card-subtitle>Camiseta Masculina em Jérsei de Algodão Pima com Gola Redonda</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$219,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-BRECOM-Site/Sites-master/pt_BR/dw48743ab3/HH0398_A53_24.jpg?imwidth=806&impolicy=product">
        </div>
        <ion-card-header>
          <ion-card-title>Calça Lacoste</ion-card-title>
          <ion-card-subtitle>50% de desconto
            Calça Lacoste masculina straight fit com 5 bolsos</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$150,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

