<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Tommy Hilfiger</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://calvinklein.vteximg.com.br/arquivos/ids/288136-350-460/CM9OC01TC133_0987_2.jpg?v=636927480886070000">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Calvin Klein</ion-card-title>
          <ion-card-subtitle>CAMISETA CKJ MC EST LOGO RETANGULO - PRETO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$111,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://calvinklein.vteximg.com.br/arquivos/ids/275616-350-460/CM9OC02PC154_0987_2.jpg?v=636893845912270000">
        </div>
        <ion-card-header>
          <ion-card-title>Polo Calvin Klein</ion-card-title>
          <ion-card-subtitle>POLO CKJ MC EST LOGO RELEVO PEITO - PRETO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$153,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://calvinklein.vteximg.com.br/arquivos/ids/268806-350-460/CM9OC11DC143_0598_2.jpg?v=636870637563870000">
        </div>
        <ion-card-header>
          <ion-card-title>Calça Calvin Klein</ion-card-title>
          <ion-card-subtitle>CALÇA JEANS FIVE POCKTES STRAIGHT CKJ 035 STRAIGHT - MARINHO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$367,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://calvinklein.vteximg.com.br/arquivos/ids/219056-350-460/PERFUME-EDT-CK-BE-VAPO.jpg?v=636409876286730000">
        </div>
        <ion-card-header>
          <ion-card-title>Perfume Calvin Klein</ion-card-title>
          <ion-card-subtitle>CK BE UNISSEX 100ML</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$361,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

