.logo{
  text-align: center;
}
ion-content{
  padding: 0px;

  color: #555;
}
.img{
  max-width: 450px;
  max-height: 450px;
}
.test{
  text-align: center;
  color: #555;
}
.test :hover{
  color: #000;
}