<ion-content>
  <ion-row>

    <ion-col offset="4">
      <div class="menu">
        <img class="logoimg" src="../../assets/img/logo4.png">
      </div>

    </ion-col>
  </ion-row>

  <ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>FIQUE POR DENTRO DAS NOVIDADES AQUI!</ion-card-title>
      </ion-card-header>
      <ion-slides pager="true" autoplay="true" [options]="slideOpts">
        <ion-slide>
          <ion-img width="100%" src="https://extra.globo.com/incoming/20516733-0fe-6ec/w976h550-PROP/cr7-chuteira-real-madrid-0.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://extra.globo.com/incoming/13743165-7d7-ce7/w976h550-PROP/blusa-infantil-da-zara-campos-de-concetracao-nazistas.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://extra.globo.com/incoming/17291625-bce-c15/w976h550-PROP/rafael-nadal-campanha-publicitaria-1.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://extra.globo.com/noticias/economia/71899-16b-9d2/w976h550-PROP/24_09_ghg_locao.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://extra.globo.com/incoming/22664247-e9d-faf/w976h550-PROP/38538930_28072005marcos-cruzext-enexclusivavarejo-norte-shopping-ponta-de-estoque-da-nik.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://extra.globo.com/incoming/4673113-815-a04/w976h550-PROP/denancia-zoompzaraglobo.jpg"></ion-img>
        </ion-slide>

      </ion-slides>
    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Desconto nos dias 20 á 29 em agosto!</ion-card-title>
        <ion-card-subtitle>Toda linha Nike com 20% de desconto, fique por dentro e não perca nossos eventos!!</ion-card-subtitle>
        <a href="https://www.nike.com.br/">
          <ion-button color="dark">Vá para linha Nike</ion-button>
        </a>
      </ion-card-header>

    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Desconto em toda Linha Zara</ion-card-title>
        <ion-card-subtitle>Toda linha Zara com 40% de desconto, não perca nossas promoções fique por dentro.</ion-card-subtitle>
        <a href="https://www.zara.com/br/">
          <ion-button color="dark">Vá para linha Zara</ion-button>
        </a>
      </ion-card-header>

    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Retire seu Cupom de desconto!</ion-card-title>
        <ion-card-subtitle>Retire aqui seu cupom de desconto, que pode ser usado em qualquer linha de roupa do nosso site! clique a baixo para
          retirada.
        </ion-card-subtitle>
        <a href="https://www.picodi.com/br/?kid=559375&gclid=Cj0KCQjwrdjnBRDXARIsAEcE5Yl1bpFah_cnGpAjw6QM4Oh7S8V9SxkdF19Kc6Q7z-cQvPqUF2LgsI8aAvC3EALw_wcB">
          <ion-button color="dark">Retire o cupom</ion-button>
        </a>
      </ion-card-header>

    </ion-card>

    <p> </p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Fique por dentro das novidades do nosso App e receba descontos!</ion-card-title>
        <ion-card-subtitle>Ative as notificações do nosso aplicativo e concorra á descontos exclusivos em toda linha de roupas do app! </ion-card-subtitle>
      </ion-card-header>

    </ion-card>


  </ion-content>