<ion-header>
  <ion-toolbar>
    <ion-title>Lançamentos Zara</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img width="100%" src="https://static.zara.net/photos///2019/W/0/1/p/5252/037/406/2/w/1920/5252037406_9_2_1.jpg?ts=1550590563996">
        </div>
        <ion-card-header>
          <ion-card-title>Jaqueta Zara</ion-card-title>
          <ion-card-subtitle>JAQUETA DENIM CROPPED TIE DYE</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$119,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://static.zara.net/photos///2019/V/0/1/p/6050/318/020/2/w/1024/6050318020_2_1_1.jpg?ts=1551462659517">
        </div>
        <ion-card-header>
          <ion-card-title>Macacão Zara</ion-card-title>
          <ion-card-subtitle>MACACÃO XADREZ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$99,00
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://static.zara.net/photos///2019/W/0/1/p/9479/001/400/2/w/1024/9479001400_1_1_1.jpg?ts=1548241052431">
        </div>
        <ion-card-header>
          <ion-card-title>Camiseta Zara</ion-card-title>
          <ion-card-subtitle>CAMISETA COM BOLSO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$199,99
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col align-self-center text-center>
      <ion-card>
        <div>
          <img  width="100%" src="https://static.zara.net/photos///2019/W/0/1/p/1512/002/800/2/w/1024/1512002800_2_1_1.jpg?ts=1547746049083">
        </div>
        <ion-card-header>
          <ion-card-title>Vestido Zara</ion-card-title>
          <ion-card-subtitle>VESTIDO COM FIO METALIZADO</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          R$139,90
        </ion-card-content>
        <ion-button expand="full" color="tertiary" (click)="atualizar()">Comprar</ion-button>
      </ion-card>
      <ion-note>
        Publicado 19/06/2019
      </ion-note>
    </ion-col>
  </ion-row>


</ion-content>

